{% extends 'base.html'%} {% block content %}
<main>
  <section class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Manage Todos</h1>
    </div>
  </section>
  {% if current_user.is_authenticated %}
  <section class="container">
    {% if not current_user.todos[0] %}
    <div class="alert alert-info" role="alert">Oops. There is no todo yet</div>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Date Created</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in current_user.todos %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.category}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.date_created}}</td>
          <td>
            <a href="{{url_for('routes.edit_todo', id=item.id)}}"
              ><button type="button" class="btn btn-success">Edit</button></a
            >
            <a href="{{url_for('routes.delete_todo', id=item.id)}}"
              ><button type="button" class="btn btn-danger">Delete</button></a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>

  {% else %}
  <section class="container mt-5">
    <div class="alert alert-primary" role="alert">
      In order to use the app use must login!
    </div>
  </section>
  <section class="container">
    <a href="{{url_for('routes.login')}}"
      ><button type="button" class="btn btn-primary">Login</button></a
    >
    or
    <a href="{{url_for('routes.register')}}"
      ><button type="button" class="btn btn-secondary">Register</button></a
    >
  </section>
  {% endif %}
</main>
{% endblock %}
